body {
  font-family: var(--px-font-family);
  font-weight: var(--px-font-weight-base);
  font-size: var(--px-font-size-base);
  /* line-height: calc(var(--px-font-size-base) * 1.2); */
  color: var(--px-color-base);
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: var(--px-color-primary);
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--px-color-primary-light-3);
  }

  &:active {
    color: var(--px-color-primary-dark-2);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--px-color-base);
  font-weight: inherit;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

h1 {
  font-size: calc(var(--px-font-size-base) + 6px);
}

h2 {
  font-size: calc(var(--px-font-size-base) + 4px);
}

h3 {
  font-size: calc(var(--px-font-size-base) + 2px);
}

h4,
h5,
h6,
p {
  font-size: inherit;
}

p {
  line-height: 1.8;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

sup,
sub {
  font-size: calc(var(--px-font-size-base) - 1px);
}

small {
  font-size: calc(var(--px-font-size-base) - 2px);
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid var(--px-color-base);
}