.px-tooltip {
  --px-popover-font-size: 12px;
  --px-popover-bg-color: var(--px-color-white);
  --px-popover-border-color: var(--px-color-base);
  --px-popover-border-width: 4px;
  --px-popover-border-radius: 1px;
  --px-popover-padding: 12px;
  --px-popover-offset: -4px;
  --px-popover-arrow-size: 12px;
  --px-popover-arrow-border-width: calc(var(--px-popover-border-width) - 1px);
  --px-popover-text-color: var(--px-color-base);
}

.px-tooltip {
  display: inline-block;

  .px-tooltip__popper {
    position: absolute;
    padding: var(--px-popover-padding);
    color: var(--px-popover-text-color);
    line-height: 1.2;
    text-align: justify;
    font-size: var(--px-popover-font-size);
    word-break: break-all;
    box-sizing: border-box;
    z-index: 1000;

    /* css houdini paintWorklet */
    background-image: paint(pixelbox);
    --px-border: var(--px-popover-border-width);
    --px-border-t: var(--px-popover-border-width);
    --px-border-r: var(--px-popover-border-width);
    --px-border-b: var(--px-popover-border-width);
    --px-border-l: var(--px-popover-border-width);
    --px-border-radius: var(--px-popover-border-radius);
    --px-border-radius-lt: var(--px-popover-border-radius);
    --px-border-radius-rt: var(--px-popover-border-radius);
    --px-border-radius-lb: var(--px-popover-border-radius);
    --px-border-radius-rb: var(--px-popover-border-radius);
    --px-bg-color: var(--px-popover-bg-color);
    --px-border-color: var(--px-color-base);

    .arrow,
    .arrow::before {
      position: absolute;
      box-sizing: border-box;
      width: var(--px-popover-arrow-size);
      height: var(--px-popover-arrow-size);
      background: var(--px-popover-bg-color);
    }

    .arrow {
      visibility: hidden;
    }

    .arrow::before {
      content: '';
      visibility: visible;
      transform: rotate(45deg);
    }

    &[data-popper-placement^='top']>.arrow {
      bottom: var(--px-popover-offset);
    }

    &[data-popper-placement^='bottom']>.arrow {
      top: var(--px-popover-offset);
    }

    &[data-popper-placement^='left']>.arrow {
      top: calc(var(--px-popover-offset) / -2) !important;
      right: var(--px-popover-offset);
    }

    &[data-popper-placement^='right']>.arrow {
      top: calc(var(--px-popover-offset) / -2) !important;
      left: var(--px-popover-offset);
    }

    &[data-popper-placement^='top']>.arrow::before {
      border-right: var(--px-popover-arrow-border-width) solid var(--px-popover-border-color);
      border-bottom: var(--px-popover-arrow-border-width) solid var(--px-popover-border-color);
    }

    &[data-popper-placement^='bottom']>.arrow::before {
      border-left: var(--px-popover-arrow-border-width) solid var(--px-popover-border-color);
      border-top: var(--px-popover-arrow-border-width) solid var(--px-popover-border-color);
    }

    &[data-popper-placement^='left']>.arrow::before {
      border-right: var(--px-popover-arrow-border-width) solid var(--px-popover-border-color);
      border-top: var(--px-popover-arrow-border-width) solid var(--px-popover-border-color);
    }

    &[data-popper-placement^='right']>.arrow::before {
      border-left: var(--px-popover-arrow-border-width) solid var(--px-popover-border-color);
      border-bottom: var(--px-popover-arrow-border-width) solid var(--px-popover-border-color);
    }

    &.is-light {
      --px-popover-text-color: var(--px-color-base);
      --px-popover-bg-color: var(--px-bg-color-overlay);
      --px-popover-border-color: var(--px-color-base);
    }

    &.is-dark {
      --px-popover-text-color: var(--px-color-white);
      --px-popover-bg-color: var(--px-bg-color-overlay-dark);
      --px-popover-border-color: var(--px-border-color-light);
    }
  }
}