name: Test and deploy

on:
  push:
    branches:
      - feature/doc

jobs:
  test:
    name: Run Lint and Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install pnpm 
        run: npm install -g pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      
      - name: tsc paint worklet
        run: npm run worklet

      - name: Run tests
        run: npm run test

  build:
    name: Build docs
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build Components
        run: npm run build

      - name: Build docs
        run: npm run docs:build

      - name: Clean invalid file paths
        run: |
          find ./packages/docs/dist -name "*:*" -type f -delete
          find ./packages/docs/dist -name "*:*" -type d -exec rm -rf {} + 2>/dev/null || true

      - name: Upload docs
        uses: actions/upload-artifact@v4
        with:
          name: docs
          path: ./packages/docs/dist
          exclude-paths: |
            **/~demos/:id/**

  deploy:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download docs
        uses: actions/download-artifact@v4
        with:
          name: docs

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.MMT_TOKEN }}
          publish_dir: ./
          allow_empty_commit: false
          keep_files: true